@{
    ViewData["Title"] = "Welcome";
}

<div class="container mt-5 text-center">
    <h2>Welcome to Todo App</h2>
    <p>Click below to create your Todo list.</p>
    <a asp-action="CreateName" class="btn btn-primary mt-3">Create New Todo Item</a>
</div>
